@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.instruction {
    position: absolute;
    bottom: 70%;
    left: 5%;
    font-size: 1.5rem;
    white-space: pre-line;
    text-align: center;
    color: rgb(85, 85, 85);
    font-family: "Source Sans Pro", sans-serif;
}

.instruction.mobile {
    display: none;
}

.card-one,
.card-two {
    box-sizing: border-box;
    height: 250px;
    width: 200px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0.5px black;
    font-size: 2rem;
    text-align: right;
    padding: 0.75rem;
}

div.score {
    margin: 0 128px 0 128px;
    position: relative;
}

div.score p {
    display: inline-block;
    font-size: 3rem;
    margin: 16px;
}

.fas.fa-heart {
    color: red;
    font-size: 1.7rem;
    margin-left: 0.2rem;
}

.fas.fa-square {
    color: red;
    transform: rotate(45deg) translateY(-1.5px) translateX(-3px);
    margin-left: 0.5rem;
    font-size: 1.4rem;
    vertical-align: middle;
}

.far.fa-heart {
    font-size: 1.7rem;
    margin-left: 0.2rem;
    transform: rotate(180deg);
}

.fab.fa-canadian-maple-leaf {
    font-size: 1.7rem;
    margin-left: 0.2rem;
}

.card-one.winner,
.card-two.winner {
    animation: winner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

button.repeat-game {
    display: none;
}

button.repeat-game.visible {
    display: block;
    margin: auto;
    margin-top: 16px;
    height: 64px;
    width: 160px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    font-variant: small-caps;

}

button.repeat-game.visible:hover {
    background-color: rgb(24, 185, 38);
    border: 2px solid green;
}

@keyframes winner {
    0% {
        transform: translateY(0px) scale(1);
        border: 3px solid black;
        box-shadow: 2px 2px 5px 0.5px black;
    }

    50% {
        transform: translateY(-32px) scale(1.2);
        border: 3px solid green;
        box-shadow: 2px 2px 5px 0.5px green;
    }

    65% {
        border: 3px solid green;
        box-shadow: 2px 2px 5px 0.5px green;
    }

    100% {
        transform: translateY(0px) scale(1);
        border: 3px solid black;
        box-shadow: 2px 2px 5px 0.5px black;
    }
}

@media (max-width: 918px) {
    body {
        flex-direction: column;
    }

    .instruction {
        display: none;
    }

    .instruction.mobile {
        display: block;
        position: static;
        font-size: 0.75rem;
    }

    .card-one {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button.repeat-game.visible {
        height: 2rem;
        width: 5rem;
        font-size: 0.625rem;
    }

    div.score {
        text-align: center;
    }

    div.score p {
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    div.card-one,
    div.card-two {
        height: 125px;
        width: 100px;
        margin: auto;
        font-size: 1rem;
    }

    .fas.fa-heart,
    .far.fa-heart,
    .fab.fa-canadian-maple-leaf {
        font-size: 0.85rem;
    }

    .far.fa-heart {
        transform: rotate(180deg) translateY(0.125rem);
    }

    .fas.fa-square {
        font-size: 0.7rem;
        transform: rotate(45deg) translateX(-0.25rem);
    }
}