html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.card-one,
.card-two {
    box-sizing: border-box;
    height: 250px;
    width: 200px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0.5px black;
    font-size: 2rem;
    text-align: right;
    padding: 0.75rem;
    margin: 0 128px 0 128px;
}

div.score p {
    display: inline-block;
    font-size: 3rem;
    margin: 16px;
}

.fas.fa-heart {
    color: red;
    font-size: 1.7rem;
    margin-left: 0.2rem;
}

.fas.fa-square {
    color: red;
    transform: rotate(45deg) translateY(-1.5px) translateX(-3px);
    margin-left: 0.5rem;
    font-size: 1.4rem;
    vertical-align: middle;
}

.far.fa-heart {
    font-size: 1.7rem;
    margin-left: 0.2rem;
    transform: rotate(180deg);
}

.fab.fa-canadian-maple-leaf {
    font-size: 1.7rem;
    margin-left: 0.2rem;
}

.card-one:hover,
.card-two:hover {
    transform: translateY(-32px) scale(1.2);
    border: 3px solid green;
    box-shadow: 2px 2px 5px 0.5px green;
    transition: 1s;
}